main{
  .main{
 padding: 2rem;
    max-width: 1200px;;
   width: 100%;
    display: flex;
  margin: 0 auto;
    flex-direction: row-reverse;
    justify-content: center;
    align-items:center;
    gap: 9rem;
    text-align: start;
    @include sm(){
     padding: 0;
      flex-direction: column;
    height: 100%;
    gap: 1rem;
   
    }
    .mobile{
      display: none;
      @include sm(){
        display: block;
      }
        }
    .desktop{
      margin: 0 auto;
      width: 100%;
      @include sm(){
        display: none;
      }
    }

 &__info{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
   @include sm(){
    text-align: center;
   }
   &__wrap{
 @include sm(){
  padding: 0.2rem;
 }
    h1{
      font-size:7rem;
      width:80%;
      color: $almostBlack;
     font-weight: $bold;
     @include sm(){
      font-size: 3.5rem;
      width: 100%;
     }
    }
    p{
      font-size: 2rem;
      width: 85%;
    
      @include sm(){
        width: 100%;
      }
    }
    button{
      background-color:$almostBlack;
      color: $almostWhite;
      padding: 1.3rem 2rem;
      border-radius: 12px;
      font-weight: $bold;
      font-size: 1.6rem;
      margin-top: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      &:hover{
        background-color: $almostWhite;
        color: $almostBlack;
        border: 1px solid $almostBlack;
      }
    }
  
   }
   .main__logos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 12rem;
   
    width: 100%;
    @include sm(){
      top: 1rem;
      // margin-top: 1rem;
      margin-bottom: 10rem;
  
     z-index: 0;
    
   
    }
    img{
      @include sm(){
      
       
        width: 18%;
        gap: 1rem;
      }
    }
  }
 
 }

}
 
 
}