$fontFamily : 'Epilogue', sans-serif;
$almostWhite: hsl(0, 0%, 98%);
$gray:hsl(0, 0%, 41%);
$almostBlack: hsl(0, 0%, 8%);

$fontSize: 18px;
$medium:500;
$bold:700;

// breakpoints

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 768px;

// Small tablets (portrait view)
$screen-md-min: 769px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }

 @mixin flexCenter($direction){
    display: flex;
    justify-content: space-between;
    align-items: center;
 }